
<a href="/">返回首页</a>
<table> 
<tr>
	<th>id</th>
	<th>title</th>
	<th>created_at</th>
	<th>updated_at</th>
	<th>file</th>
	<th>md5</th>
	<th></th>
	<th>operate</th>
</tr>
 <%@category.posts.each do |post|%>
 <tr>
	<td> <%= post.id %></td>
 	<td> <%= post.title %></td>
 	<td> <%= post.created_at %></td>
 	<td> <%= post.updated_at %></td>
 	<td> <%= post.file%></td>
 	<td> <%= post.md5%></td>
	<td>
	<form enctype="multipart/form-data" action="/posts/release" method="post">
		<input type="hidden" name="id" value="<%=post.id%>" />
		<input type="file" name="file" />
		<input type="submit" value="发布" />
	</form>
	</td>
	<td><a href="#">edit</a></td> 
	<td><a href="/posts/open?file=<%=post.file%>">open file</a></td> 
	<td><a href="/posts/del/<%=post.id%>">del</a></td> 
 </tr>
 <%end%>
 </table>

 
